# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
Thumbs.db
dist
dist-ssr
coverage
*.sw?

*.tsbuildinfo

# Environment variables
.env
config/

# Python
**/__pycache__/
**/test

# Others
*.bat
!service/src/config/

# Legacy Python Backend (Do not upload)
backend_old/
